html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1040px;
  /* background-color: hsl(217, 14%, 18%); */
  background-image:url(../image/background.jpg) ;
  background-repeat:no-repeat ;
  background-size: cover;

  overflow: hidden;
}
.warp {
  position: relative;
  height: 100%;
  position: relative;
}
.login {
  position:absolute;
  display: flex;
  position: absolute;
  width: 350px;
  height: 520px;
  background-color: #fff;
  margin-top: 50px;
  margin-right: 200px;
  right: 0;
  border-radius: 10px;
  z-index: 9999;
  flex-direction: column;
  top: 20%;
}
.logo {
  border-radius: 5px;
  position: absolute;
  left: 40%;
  top: -5%;
  width: 120px;
  height: 55px;
  background-color: #fff;
  z-index: -999;
}
.logo span {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 55px;
  text-align: center;
  font-size: 26px;
  color: #5e3f29;
}
.content-warp {
  z-index: 9999999999;
  width: 290px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
.content-warp span {
  font-size: 22px;
  display: block;
  background-color: #fff;
  text-align: center;
  width: 90px;
  position: absolute;
  bottom: -25%;
  left: calc(50% - 45px);
  padding: 0 10px;
}
.line {
  margin-top: 18px;
  height: 50px;
  border-bottom: 1px solid rgb(216, 216, 216);
  position: relative;
  margin-bottom: 20px;
}
.tab {
  /* height: 420px; */
}
.tab input {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  outline: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  margin: 10px 0 30px 0;
  background-color: rgb(246, 246, 246);
  border: 1px solid rgb(204, 204, 204);
}
.register {
  width: 100%;
  height: 40px;
  background-color: rgb(28, 177, 93);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 25px;
}
.register:hover {
  background-color: rgb(0, 194, 143);
  cursor: pointer;
}
.footer {
  border-top: 1px solid rgb(216, 216, 216);
  background-color: rgb(246, 246, 246);
  flex: 1;
  border-radius: 0 0 10px 10px;

}
.log{
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.log a{
  font-size: 18px;
  width: 100px;
  height: 30px;
  text-decoration: none;
  color: black;
}
